@page "/select"
@using BlazorSamples.Components.Select

<div class="container">
    <div class="row">
        <div class="col">
            <Select TItem="int" TValue="string">
                @foreach (var item in Items)
                {
                    <Option Item="@item.Id" Value="@item.Value" />
                }
            </Select>
        </div>
        <div class="col">
            <Select TItem="int" TValue="string" 
                    Placeholder="@_defaultItem"
                    DefaultIcon="@_defaultIcon">
                @foreach (var item in Items)
                {
                    <Option Item="@item.Id" Value="@item.Value" Icon="@item.Icon" />
                }
            </Select>
        </div>
    </div>
</div>

<br /> 
 

@code {
    string _defaultItem;
    string _defaultIcon;

    protected override void OnInitialized()
    {
        _defaultItem = Items.Select(_ => _.Value).First();
        _defaultIcon = Items.Select(_ => _.Icon).First();
    }

    List<Item> Items = new()
    {
        new Item { Id = 1, Value = "One", Icon = "https://upload.wikimedia.org/wikipedia/commons/4/41/Flag_of_Austria.svg" },
        new Item { Id = 2, Value = "Two", Icon = "https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_Australia_%28converted%29.svg" },
        new Item { Id = 3, Value = "Three", Icon = "https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Afghanistan.svg" },
        new Item { Id = 4, Value = "Four", Icon = "https://upload.wikimedia.org/wikipedia/commons/1/19/Flag_of_Andorra.svg" }
    };

    public class Item
    {
        public int Id { get; set; }
        public string Value { get; set; }
        public string Icon { get; set; }
    }
} 