<CascadingValue Value="this" IsFixed="true">
    <div id="@Id" class="shadow">
        <ul class="nav nav-pills nav-justified">
            @foreach (var step in Steps)
            {
                <li id="step-@(StepsIndex(step) + 1)" class="nav-item border border-primary rounded">
                    <a class="nav-link @((ActiveStep == step) ? "active" : "")" href="javascript: void(0)"
                       @onclick="@(e=> SetActive(step))"><i class="@step.Icon"></i> @step.Name</a>
                </li>
            }
        </ul>
        <div id="container-fluid">
            @ChildContent
        </div>
    </div>
    <br />
    <button class="btn btn-primary rounded-pill" type="button"
            disabled="@(ActiveStepIx == 0)" @onclick="GoBack">
        Previous
    </button>
    <button class="btn btn-@(IsLastStep ? "success" : "primary") rounded-pill"
            type="@(IsLastStep ? "submit" : "button")" @onclick="GoNext">
        @(IsLastStep ? "Submit" : "Next")
    </button>
</CascadingValue> 